body{
    overflow: hidden;
}

body>div:first-child{
    width: 100vw;
    height: 10vh;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

body>div:first-child>div{
    top: 20px;
    left: 20px;
    color: white;
    text-align: center;
    position: absolute;
}

body>div:nth-child(2){
    width: 100vw;
    height: 90vh;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

body>div:nth-child(2)>div{
    top: 350px;
    left: 0;
    color: black;
    text-align: center;
      font-size: 70px;
    position: sticky;
}


/*body>div:nth-child(1){*/
/*    width: 100vw;*/
/*    height: 10vh;*/
/*    background-color: midnightblue;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

/*body>div:nth-child(1)>div{*/
/*    top: 20px;*/
/*    left: 20px;*/
/*    color: white;*/
/*    text-align: center;*/
/*    position: absolute;*/
/*}*/

/*body>div:nth-child(2){*/
/*    width: 100vw;*/
/*    height: 90vh;*/
/*    background-color: mediumblue;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/

/*body>div:nth-child(2)>div{*/
/*    top: 350px;*/
/*    left: 0;*/
/*    color: black;*/
/*    text-align: center;*/
/*    font-size: 70px;*/
/*    position: sticky;*/
/*}*/