body{
    overflow: hidden;
}

body>div:first-child{
    width: 70vw;
    height: 15vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

body>div:nth-child(3){
    width: 31vw;
    height: 15vh;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
}

body>div:nth-child(4){
    width: 20vw;
    height: 80vh;
    background-color: #34068f;
    position: absolute;
    top: 104px;
    left: 0;
}

body>div:nth-child(3)>div{
    top: 0px;
    left: 0;
    color: black;
    text-align: center;
    position: relative;
}


body>div:nth-child(4){
    width: 80vw;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 104px;
    right: 0;
}

body>div:nth-child(5){
    width: 100vw;
    height: 8vh;
    background-color: grey;
    position: absolute;
    bottom: 0;
    left: 0;
}

body>div:nth-child(5)>div{
    top: 0px;
    left: 0;
    color: black;
    text-align: center;
    position: relative;
}
